<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <h1>My awesome graph</h1>
    <div id="fig_container">
   {{ div_figure|safe }}
</div>
  <p>This is a placeholder. Cats are cute. Btw graph isn't static! You can zoom and everything. </p>
    <p>Powered by Django, matplotlib, mpld3. Also it's crashing on graph update with "RuntimeError: main thread is not in main loop". idk why yet. </p>
   <img src="https://icatcare.org/app/uploads/2018/06/Layer-1704-1920x840.jpg" alt="Cat">
  </body>
</html>